.slider-area .hero-caption::before {
    content: "";
    position: absolute;
    background: #040f2e;
    width: 114%;
    height:100vh;
    margin-top:1.5em ;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}
.team-active{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.logo a img{
    height: 80px;
width: 80px;
margin-left: -70px;
}

.slider-bg1{
    background-image: url(/images/msit.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}

#about{
    color: black; 
    font-weight: 400;
}

.footer-logo{
    height: 104px;
margin-left: 53px;
}