.carousel-indicators li {
    background-color: #FFC839;
}

.image-view-faculty{
    width: 20%;
}

.slider-area .hero-caption::before {
    content: "";
    position: absolute;
    background: #040f2e;
    width: 114%;
    height:110vh;
    margin-top:1.5em ;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}
.team-active{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.team-area .single-team {
    margin: 14px 8px;
}

.logo a img{
    height: 80px;
    width: 80px;

}
.is-sticky{
        position: fixed; 
        width: 100%;
        top: 0;
        left: 0;
        margin: auto;
        z-index: 4;
}

.slider-bg1{
    background-image: url(images/home.webp);
    background-attachment: fixed;
    background-position: left top;
    background-repeat:no-repeat ;
    background-size: cover;
}

#about{
    color: black; 
    font-weight: 400;
}

.footer-logo{
    height: 104px;
margin-left: 53px;
}

.colabs{
    flex-wrap: wrap;
    display: flex;
    margin: 1rem auto 3rem;
    justify-content: center;
}
.colab-box{
    width: auto;
    height: 11rem;
    overflow: hidden;
    margin: 1rem;
}
.image-colab{
    width: 100%;
    height: 100%;
    transition:all 0.3s ease;
    filter: grayscale(1);
    -webkit-filter:grayscale(1);
    cursor: pointer;
}
.image-colab:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.textarea{
    background: transparent;
    border:0px;
    border-bottom: 2px solid #beccd6;
    height: 37px;
    font-size: 16px;
    margin-bottom: 27px;
    padding: 0;
    width: 100%;
    color: #fff;
    margin-bottom:3em;
}

.hero-caption .subscribe-now input{
    background: none;
    padding: 0;
    width: 100%;
    height: 37px;
    border: 0;
    border-bottom: 2px solid #beccd6;
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
}

input::placeholder {
    color: #beccd6 !important;
}
textarea::placeholder{
    color: #beccd6 !important;   
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
}
}
.footer-tittle{
    line-height: 1;
}
.link-icon{
    width: 28px;
    height: 18px;
    transition: 0.3s ease-in-out;
    
}
.footer-tittle ul li{
    margin-bottom: 15px;
    display: flex;
    grid-gap: 15px;
    transition: 0.2s ease;
}

.tailor-offers{
    background-image:url('images/thought.svg') !important;
    background-size: contain !important
}

.footer-tittle ul li a:hover > .link-icon{
    width: 38px;
    height: 18px;
}
/*.team-img:after{
    content: " ";
    width: 100%;
    height: 150px;
    display: block;
    /* top: 100%; */
    /* bottom: 0; */
    /*background-repeat: NO-REPEAT;
    /* right: 0; 
    position: absolute;
    background-image: url(images/Group.png);
    background-size: contain;
    z-index: 99999;
    /* transform: skew(
-20deg, 
-1deg) translate(14px, 25px); 
    overflow: visible;
    transform: rotate(
90deg);
}*/




@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


.floating-image{
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}


.block-20{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 280px;
}
.block-20:hover{
    transform: scale(1.1);
    transition: 0.4s ease;
}

.section-padding{
    padding-top: 90px !important;
    padding-bottom: 10px !important;
}


/*for pads */

@media (max-width:790px) {
    .team-active{
        grid-template-columns: repeat(2,1fr);
    }


    .slicknav_menu .slicknav_icon-bar {
        background-color: #dca73a !important;
    }
    .visit-tailor-area .tailor-details {
        width: 100%;
        padding: 50px 30px;
    }
    .card1 img {
        height: 12em !important;
      }
}

/* for mobile */
@media (max-width:480px){
    .team-active {
        grid-template-columns: repeat(2,1fr);
    }
    .block-20 {
        width: 100%;
        height: 182px;
    }
    .team-area .single-team .team-img {
        margin-bottom: 6px;
    }
    .team-area .single-team .team-caption h3 a {
        font-size: 18px;
    }
    .team-area .single-team .team-caption p {
        font-size: 14px;
    }
    .mt-4 {
        margin-top: -0.5rem!important;
    }
    .slider-area .hero-caption::before {
        background: #040f2ea1;
        height:115vh; 
        left: -11px; 
        z-index: -2;
    }
    .slider-bg1 {
        background-position: center bottom;
    }
    .mt-4 > .pt-2 > .text-right{
        display: flex;
        justify-content: center;
    }
    .colab-box {
        width: auto;
        height: 6rem;
        overflow: hidden;
        margin: 0.5rem;
    }
    .mobile_menu .slicknav_menu .slicknav_btn {
        top: -43px;
    }
    .logo a img{
        width: 60px;
        height: auto;
    }

    .card1 {
        width: 80% !important;
      }
    
    .only-mobile{
        display: grid !important;
    }
    .carousel{
        display: None;
    }

}

.team-area .single-team .team-img{
    box-shadow: 0px 9px 20px 0px #0000003b;
}






/* Testing slider */
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card1 img {
    max-width: 100%;
    max-height: 100%;
  }
  .card1 {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    width: 24%;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
.card1 img {
  height: 15em;
}
  
.only-mobile{
    display: None;
}

