.slider-area .hero-caption::before {
    content: "";
    position: absolute;
    background: #040f2e;
    width: 114%;
    height:100vh;
    margin-top:1.5em ;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}
.team-active{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.logo a img{
    height: 80px;
width: 80px;
margin-left: -70px;
}

.slider-bg1{
    background-image: url(images/msit.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}

#about{
    color: black; 
    font-weight: 400;
}

.footer-logo{
    height: 104px;
margin-left: 53px;
}

.colabs{
    flex-wrap: wrap;
    display: flex;
    margin: 1rem auto 3rem;
    justify-content: center;
}
.colab-box{
    width: 16%;
    height: 8rem;
    overflow: hidden;
    margin: 2rem;
}
.image-colab{
    width: 100%;
    height: 100%;
    transition:all 0.3s ease;
    filter: grayscale(1);
    -webkit-filter:grayscale(1);
    cursor: pointer;
}
.image-colab:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

