.slider-area .hero-caption::before {
    content: "";
    position: absolute;
    background: #460707;
    width: 114%;
    height: 202%;
    top: -51%;
    bottom: 0;
    left: 0;
    z-index: -2;
}
.team-active{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.logo a img{
    height: 80px;
width: 80px;
margin-left: -70px;
}

.slider-bg1{
    background-image: url(/images/digital-orange-technology-background-vector.jpg);
}